.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
*.odp
*.odt
*.docx
*.pptx
*lock*
*.log
*.tex
*.pdf
*.err
*.out
data/common_input_scaling*
data/multiple_input_scaling*
data/results_forecast*
data/enet*
